<!DOCTYPE html>
<html>
<head>
    <title>2025 경화여중 학부모 보람교사 현황</title>
</head>
<body>
    <h2 align="center">관리자 로그인 페이지</h2>
    <form id="login-form" method="post" align="center" action="/login/request">
        <label for="username" >Username:</label>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Login" >
    </form>
    <div id="error-message" style="display: none;"></div>
    <div align="center">
        <br>
        <a href="/attendee">보람교사 현황 페이지로</a>
    </div>
<style>
<!--  #login-form {-->
<!--    display: flex;-->
<!--    flex-direction: column;-->
<!--    align-items: center;-->

<!--    width: 100%;-->
<!--  }-->
  </style>
    <script>
        document.getElementById('login-form').addEventListener('submit', async function(event) {
            event.preventDefault();
            const formData = new FormData(this);
            try {
                const response = await fetch('/login/request', {
                    method: 'POST',
                    body: formData
                });
                if (response.ok) {

                    window.location.href = '/admin/attendee'
                } else {
                    // 401 예외 처리
                    if (response.status === 401) {
                        alert("로그인 실패. 다시 로그인 해주세요")
                    }
                }
            } catch (error) {
                console.error('Error occurred:', error);
            }
        });
    </script>

</body>
</html>
